$body-font: 'Ubuntu', sans-serif;
$logo-font: 'Audiowide', cursive;
$body-color: #303952;
$white: #f3f3f3;
$yellow: #f7d794;
$blue: #227093;
$padding: 1rem;
$spacer: 20px;
$box-shadow: 0 5px 5px rgba(0,0,0,0.2);

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: $body-font;
    font-size: 16px;
    color: $body-color;
    background: $white;

    a {
        text-decoration: none;
        color: inherit;
    }
}

main {
    flex: 1 0 auto;

    header {
        display: flex;
        flex-direction: column;
        padding: $padding;
        margin-bottom: $spacer;
        background: lighten($blue, 10%);
        color: $white;
        font-weight: bold;

        .logo {
            font-size: 2rem;
            font-family: $logo-font;
            color: $white;
            text-transform: lowercase;

            i {
                color: $yellow;
                position: relative;
                left: -5px;
                top: 3px;
                font-size: 3.5rem;
            }
        }

        .top-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;

            .right {
                display: flex;
                flex-direction: row;

                .search, .login {
                    padding: 1rem;
                    font-size: 0.8rem;
                    text-align: center;
                    position: relative;
                    border-bottom: 2px solid transparent;

                    i {
                        display: block;
                        margin-bottom: 10px;
                        font-size: 1.5rem;
                        color: $yellow;
                    }

                    &:hover span {
                        border-bottom: 2px solid $yellow;
                        padding-bottom: 5px;
                        transition: 300ms;
                    }
                }
            }
        }

        nav {
            text-transform: uppercase;
            text-align: center;

            a {
                padding: 0.5rem;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-bottom: 2px solid $yellow;
                    padding-bottom: 0.6rem;
                    transition: 300ms;
                }
            }
        }
    }

    .carousel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin-bottom: $spacer;

        &-item {
            display: block;
            background: white;
            box-shadow: $box-shadow;

            figure {
                margin: 0;

                img {
                    vertical-align: middle;
                    border: 5px solid $white;
                    width: 100%;
                    height: auto;
                    box-sizing: border-box;
                }
            }
        }
    }

    .header-text {
        text-transform: uppercase;
        text-align: center;
        background: $yellow;
        max-width: 988px;
        margin: auto;
        padding: 1rem;
        box-sizing: border-box;
        color: $white;
        font-family: $logo-font;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: $padding;
        max-width: 1000px;
        margin: 0 auto $spacer auto;
        border-bottom: 3px solid $yellow;

        .item {
            display: block;
            height: auto;
            background: white;
            margin: 6px;
            width: calc(50% - 12px);
            box-shadow: $box-shadow;
            transition: 300ms;

            figure {
                margin: 0;
                position: relative;

                img {
                    height: auto;
                    width: 100%;
                }

                figcaption {
                    text-align: center;
                    text-transform: uppercase;
                    background: white;
                    color: $blue;
                    display: block;
                    line-height: 40px;
                    height: 0;
                    visibility: hidden;
                    position: relative;
                    width: 100%;
                }
            }

            &:hover {
                transform: scale(1.03);

                & figcaption {
                    height: 40px;
                    visibility: visible;
                    position: absolute;
                    top: 0;
                }
            }

            .price {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.5rem 0.5rem 0 0.5rem;

                span {
                    color: $blue;
                    padding: 0.5rem;
                    text-transform: uppercase;
                    text-align: center;

                    &.buy {
                        border: 2px solid $yellow;
                        margin-bottom: 1rem;
                        transition: 300ms;

                        &:hover {
                            background: $blue;
                            color: $white;
                        }
                    }

                    &.amount {
                        background: $blue;
                        color: $white;
                        width: 100%;
                    }
                }
            }

            @media only screen and (min-width: 600px) {
                width: calc(25% - 12px);
            }
        }
    }
}

footer {
    background: $blue;
    padding: $padding;
    color: $white;
    text-align: center;
    font-weight: bold;
    flex-shrink: 0;
}