body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #303952;
  background: #f3f3f3;
}
body a {
  text-decoration: none;
  color: inherit;
}

main {
  flex: 1 0 auto;
}
main header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 20px;
  background: #2c90bc;
  color: #f3f3f3;
  font-weight: bold;
}
main header .logo {
  font-size: 2rem;
  font-family: "Audiowide", cursive;
  color: #f3f3f3;
  text-transform: lowercase;
}
main header .logo i {
  color: #f7d794;
  position: relative;
  left: -5px;
  top: 3px;
  font-size: 3.5rem;
}
main header .top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
main header .top-bar .right {
  display: flex;
  flex-direction: row;
}
main header .top-bar .right .search, main header .top-bar .right .login {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  border-bottom: 2px solid transparent;
}
main header .top-bar .right .search i, main header .top-bar .right .login i {
  display: block;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #f7d794;
}
main header .top-bar .right .search:hover span, main header .top-bar .right .login:hover span {
  border-bottom: 2px solid #f7d794;
  padding-bottom: 5px;
  transition: 300ms;
}
main header nav {
  text-transform: uppercase;
  text-align: center;
}
main header nav a {
  padding: 0.5rem;
  border-bottom: 2px solid transparent;
}
main header nav a:hover {
  border-bottom: 2px solid #f7d794;
  padding-bottom: 0.6rem;
  transition: 300ms;
}
main .header-text {
  background: white;
  text-transform: uppercase;
  text-align: center;
  max-width: 988px;
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Audiowide", cursive;
  font-size: 3rem;
  color: #227093;
}
main .section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 70px auto;
  border-bottom: 3px solid #227093;
  padding: 1rem;
  max-width: 1000px;
}
main .section-wrapper .section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
main .section-wrapper .section-item {
  display: block;
  background: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
main .section-wrapper .section-item figure {
  margin: 0;
}
main .section-wrapper .section-item figure img {
  vertical-align: middle;
  border: 5px solid #f3f3f3;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
main .section-wrapper .section .item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  background: white;
  margin: 6px;
  width: calc(50% - 12px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: 300ms;
}
main .section-wrapper .section .item.item-main {
  width: 200px;
}
main .section-wrapper .section .item-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
main .section-wrapper .section .item figure {
  margin: 0;
  position: relative;
  padding: 5px;
}
main .section-wrapper .section .item figure img {
  height: auto;
  width: 100%;
}
main .section-wrapper .section .item figure figcaption {
  text-align: center;
  text-transform: uppercase;
  background: white;
  color: #227093;
  display: block;
  line-height: 40px;
  height: 0;
  visibility: hidden;
  position: relative;
  width: 100%;
}
main .section-wrapper .section .item:hover {
  transform: scale(1.03);
}
main .section-wrapper .section .item:hover figcaption {
  height: 60px;
  line-height: 60px;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
}
main .section-wrapper .section .item .price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
main .section-wrapper .section .item .price span {
  color: #227093;
  padding: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}
main .section-wrapper .section .item .price span.buy {
  border: 2px solid #f7d794;
  margin-bottom: 1rem;
  transition: 300ms;
}
main .section-wrapper .section .item .price span.buy:hover {
  background: #227093;
  color: #f3f3f3;
}
main .section-wrapper .section .item .price span.amount {
  background: #227093;
  color: #f3f3f3;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media only screen and (min-width: 600px) {
  main .section-wrapper .section .item {
    width: calc(25% - 12px);
  }
}
main .section-wrapper .section.carousel {
  max-width: 250px;
  width: 100%;
}
main .section-wrapper .section.carousel .slider {
  display: flex;
  position: unset;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
main .section-wrapper .section.carousel .slider .fig {
  width: 190px;
}
main .section-wrapper .add {
  border: 2px solid #227093;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  line-height: 1;
  font-size: 1.2rem;
  margin-top: 1rem;
  background: #227093;
  color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: 300ms;
  outline: none;
}
main .section-wrapper .add:hover {
  background: #f7d794;
  color: #227093;
  cursor: pointer;
}
main .section-wrapper .add.prev {
  position: absolute;
  left: -50px;
  top: 40%;
}
main .section-wrapper .add.next {
  position: absolute;
  right: -50px;
  top: 40%;
}
main .section-wrapper .form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid #227093;
  text-align: center;
  color: #227093;
  background: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}
@media only screen and (min-width: 600px) {
  main .section-wrapper .form {
    width: 500px;
  }
}
main .section-wrapper .form .figImage img {
  max-width: 250px;
}
main .section-wrapper .form input {
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  border: 0;
  border-bottom: 2px solid #f7d794;
  outline: none;
  color: #227093;
  font-weight: bold;
}
main .section-wrapper .form input::placeholder {
  color: #227093;
  text-transform: uppercase;
  font-weight: normal;
}
main .section-wrapper .form input:focus::placeholder {
  color: transparent;
}
main .section-wrapper .form__actions {
  display: flex;
  justify-content: space-between;
}

footer {
  background: #227093;
  padding: 1rem;
  color: #f3f3f3;
  text-align: center;
  font-weight: bold;
  flex-shrink: 0;
}

/*# sourceMappingURL=styles.css.map */
